<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--stylesheet-->
  <link rel="stylesheet" href="style.css">
</head>
<!--jumbotron-->

<body>
  <div class="jumbotron text-center">
    <h1 class="display-4">Mission to Mars</h1>
    <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
  </div>
  <!--heading-->
  <div class="row">
    <div class="col-md-12 text-left">
      <h2 class="heading">Mars News</h2>
      <h3>{{mars_info.news_title}}</h3>
      <p>{{mars_info.news_p}}</p>
    </div>
  </div>
  <hr>
  <!--featured image-->
  <div class="row">
    <div class="col-md-6">
      <h2 class="heading">Featured Mars Image</h2>
      <img width=100% src="{{mars_info.featured_image_url}}" alt="featured_mars_image">
    </div>
  </div>
  <hr>
  <!--weather-->
  <div class="row">
    <div class="col-md-6">
      <h3>Current Weather on Mars</h3>
      <h4 class="weather-text">{{mars_info.mars_weather}}</h4>
    </div>
    <hr>
    <!--facts-->
    <div class="row">
      <div class="col-md-6">
        <h5>Mars Facts</h5>
        <div>{{mars_info.mars_facts|safe}}</div>
      </div>
    </div>
    <hr>
    <!-- gallery -->
    <div>
      <img src="{{mars_info.url_hemisphere_img}}" class="img-fluid" alt="mars_hemisphere1">
      <h6 class="heading">Valles Marineris</h6>
    </div>

    <div>
      <img src="{{mars_info.url_hemisphere_img}}" class="img-fluid" alt="mars_hemisphere2">
      <h6 class="heading">Cerberus</h6>
    </div>

    <div>
      <img src="{{mars_info.url_hemisphere_img}}" class="img-fluid" alt="mars_hemisphere3">
      <h6 class="heading">Schiaperelli</h6>
    </div>

    <div>
      <img src="{{mars_info.url_hemisphere_img}}" class="img-fluid" alt="mars_hemisphere4">
      <h6 class="heading">Syrtis Major</h6>
    </div>

    <!--javascript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>


</body>

</html>